<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>welcome, <%= user ? user.profile.name : "traveler" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

  <div>
    <p>
      Share your favorite places
    </p>
  </div>
</main>

<%- include('./partials/footer') %>
