<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<%- include('../partials/nav') %>

<main>
  <h1>Posts</h1>
  <table class="table table-striped" id="list">
    <thead>
      <tr>
        <th>City</th>
        <th>Content</th>
        <th>Creater</th>
      </tr>
    </thead>
    <tbody>
      <% posts.forEach((post) => { %>
      <tr>
        <td><%= post.city %></td>
        <td><a href="/posts/<%= post._id %>"><%= post.content %></a></td>
        <td><%= post.owner.name %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include("../partials/footer") %>