<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/show.css">
<%- include('../partials/nav') %>

<main>
  <h1>Post by <%= profile.name %></h1>
  
  <section>
    <div>City: </div>
		<div>
      <%= post.city %> 
    </div>
    <div>Description: </div>
    <div>
      <%= post.content %> 
    </div>
    <a href="/posts/<%= post._id %>/edit">
      <button>Edit Post</button>
    </a>
    <% if (post.owner.equals(user?.profile._id)) { %>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <a href="/posts/<%= post._id %>/edit">
          <button class="btn" type="submit">Delete</button>
        </a>
      </form>
    <% } %>
  </section>

<%- include("../partials/footer") %>