<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/show.css">
<%- include('../partials/nav') %>

<main>
  <h1>Post Details</h1>
  
  <section>
    <div>City: </div>
		<div>
      <%= post.city %> 
    </div>
    <div>Description: </div>
    <div>
      <%= post.content %> 
    </div>
    <% if (post.owner.equals(user?.profile._id)) { %>
      <a href="/posts/<%= post._id %>/edit">
      <button id="edit-button" class='btn btn-light'>Edit Post</button>
      </a>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <a href="/posts/<%= post._id %>/edit">
          <button type="submit" class="btn btn-outline-danger">Delete</button>
        </a>
      </form>
    <% } %>
  </section>

<%- include("../partials/footer") %>